.fullscreen-container {
    position: relative;
  
    overflow: hidden;
    background-color: black;
  }
  
  .fullscreen-image {
    width:20%;
    height: 20%;
    object-fit:contain;
  }
  
  .shadow-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  }
  